# Bibliotecas
vendor
node_modules

# Base de datos
*.sql

# Variables de entorno.
.env
.type
.env.type

# Excepciones
!.env.example
!.env.type.example
!.type.example

# Logs del sistema
logs
*.log*
.log*

# Caches
cache