<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Bienvenidos a {{ DL_COMPANY_NAME }}</title>

<meta name="description" content="Mini Framework PHP, con un motor de plantillas con sintaxis similares a Laravel" />
<meta property="og:title" content="DLUnire Framework" />
<meta property="og:description" content="Mini Framework PHP, con un motor de plantillas con sintaxis similares a Laravel" />
<meta property="og:type" content="website" />
<!-- <meta property="og:image" content="@print('preview')" /> -->
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />

<!-- <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ $twitter }}" />
<meta name="twitter:image" content="@print('preview')" />
<meta name="twitter:image:alt" content="{{ $preview_alt }} /> -->

<link rel="canonical" href="{{ route('') }}" />

<link rel="stylesheet" href="{{ asset('css/bundle.css') }}">
<link rel="icon" href="{{ asset('favicon.png')  }}" type="image/png">

<meta http-equiv="Content-Security-Policy"
    content="script-src 'self' *.tawk.to *.jsdelivr.net *.google.com *.gstatic.com 'nonce-{{ $token }}' ; object-src 'none'">


<!-- @section('googleAnalytics')
    <a href="https://analytics.google.com/analytics/web/?authuser=1#/p354495162/reports/dashboard?r=reporting-hub">
        Ver ver estadísticas de visita
    </a>
@endsection -->